<h2>Зарегистрироваться</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-group">
    <%= f.label :email, class: "input-group-addon" %>
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>

  <div class="input-group">
    <%= f.label :password, class: "input-group-addon" %>
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="input-group">
    <%= f.label :password_confirmation, class: "input-group-addon" %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
  </div>

  <div><%= f.submit "Зарегистрироваться", class: "btn btn-default" %></div>
<% end %>

<%= render "devise/shared/links" %>
