<%= form_for(@anime) do |f| %>
  <% if @anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
      <% @anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group">
    <%= f.label :title, class: "input-group-addon" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field input-group">
    <%= f.label :status, class: "input-group-addon" %>
    <%= f.text_field :status, class: "form-control" %>
  </div>
  <div class="field input-group">
    <%= f.label :score, class: "input-group-addon" %>
    <%= f.number_field :score, class: "form-control", min: 0, max: 10 %>
  </div>
  <div class="field input-group">
    <%= f.label :episodes, class: "input-group-addon" %>
    <%= f.number_field :episodes, class: "form-control", min: 0 %>
  </div>
  <div class="field input-group">
    <%= f.label :progress, class: "input-group-addon" %>
    <%= f.number_field :progress, class: "form-control", min: 0 %>
  </div>
  <div class="actions input-group">
    <%= f.submit %>
  </div>
<% end %>
