<%= content_for :page_header, "Listing animes" %>

<div>
  <%= link_to 'New Anime', new_anime_path %>
</div>

<div>
  
  <ul class="list-group" style="display:inline-block;vertical-align:top">
    <li class="list-group-item">
      <%= link_to 'all', animes_path %>
    </li>
    <li class="list-group-item">
      <%= link_to 'archived', animes_path(deleted: true) %>
    </li>
  <% @tags.each do |tag| %>
    <li class="list-group-item">
      <%= link_to tag.name, animes_path(tag_id: tag.id) %>
    </li>
  <% end %>
  </ul>

  <ul class="list-group" style="display:inline-block;vertical-align:top">
  <% @animes.each do |anime| %>
  <li class="list-group-item">
    <h4>
      <%= link_to anime.title, "javascript:void();", onclick: "animesModule.expand(this);" %>
      <small> - <%= anime.status %></small>
    </h4>
  
    <div class="btn-toolbar-horizontal btn-group">
      <%= small_button_to 'Up', up_anime_path(anime) %>
      <%= small_button_to 'Edit', edit_anime_path(anime), method: "get" %>
      <% unless anime.is_deleted %>
        <%= small_button_to 'Archive', anime, method: "delete" %>
      <% else %>
        <%= small_button_to 'Restore', restore_anime_path(anime) %>
      <% end %>
      <div style="display:inline-block">
        <%= form_for anime do |f| %>
          <%= star_tag f %>
        <% end %>
      </div>
    </div>
  
    <div style="float:right">
      <span class="badge" style="float:right">
        <%= anime.progress %> / <%= anime.episodes %>
      </span>
      <div>
        <%= anime.updated_at.strftime "%Y-%m-%d" %>
      </div>
    </div>
  </li>
  <li class="list-group-item" style="display:none" data-url="<%= anime_path anime %>">
    <!-- ajax generated -->
  </li>
  <% end %>
  </ul>

</div>

<div>
  <%= link_to 'New Anime', new_anime_path %>
</div>

<script type="text/javascript">
$(function() {
  animesModule = new AnimesModule();
});
</script>
