<h1>Listing animes</h1>

<div>
  <%= link_to 'New Anime', new_anime_path %>
</div>

<ul class="list-group">
<% @animes.each do |anime| %>
<li class="list-group-item">
  <h4>
    <%= anime.title %><small> - <%= anime.status %></small>
  </h4>
  
  <span class="badge">
    <%= anime.progress %> / <%= anime.episodes %>
  </span>
  
  <div>
    <%= score_tag anime.score %>
  </div>
  
  <div>
    <%= link_to 'Show', anime %> |
    <%= link_to 'Edit', edit_anime_path(anime) %> |
    <%= link_to 'Archive', anime, method: :delete %>
  </div>
</li>
<% end %>
</ul>

<div>
  <%= link_to 'New Anime', new_anime_path %>
</div>
