<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anime.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @anime.status %>
</p>

<p>
  <strong>Score:</strong>
  <%= @anime.score %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @anime.episodes %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @anime.progress %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>

<ul>
<% @torrents.each do |torrent| %>
  <li>
    <h4><%= torrent.title %></h4>
    <span>
      <%= torrent.description %>
    </span>
    <%= link_to '[download]', torrent.link %>
  </li>
<% end %>
</ul>
