<% if @torrents.length > 0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Seed</th>
      <th>Leech</th>
      <th>Down</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
  <% @torrents.each do |torrent| %>
    <tr>
      <td>
        <p><%= torrent.name %></p>
        <p>
          <span class="<%= torrent.group_type %>">
            <%= torrent.group %>
          </span>
          <% if torrent.is_trusted %>
          <span>Trusted</span>
          <% end %>
          <% if torrent.is_remake %>
          <span>Remake</span>
          <% end %>
          <% if torrent.is_a_plus %>
          <span>A+</span>
          <% end %>
        </p>
      </td>

      <td><%= link_to '[download]', torrent.link %></td>
      <td class="torrent-seeders"><%= torrent.seeders %></td>
      <td class="torrent-leechers"><%= torrent.leechers %></td>
      <td><%= torrent.downloads %></td>
      <td><%= torrent.size %> <%= torrent.size_units %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p>No torrents found.</p>
<% end %>