<!DOCTYPE html>
<html>
<head>
  <title>Torrentwatcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  
  <div id="authentication_form">
    <% if user_signed_in? %>
      <span>Здравствуйте, <%= current_user.email %></span> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Войти', new_user_session_path %> или 
      <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
  </div>
  
  <h1><%= yield :page_header %></h1>
  <%= render 'shared/alerts' %>
  
  <div id="content">
    <%= yield %>
  </div>
  
</body>
</html>
